{% extends 'base.html.twig' %}

{% block title %}Connection!{% endblock %}

{% block body %}
<div class="bg-light">
    <div class="d-flex flex-column justify-content-center align-items-center mon-body container">
        <div class="alert alert-primary my-5" role="alert">
            <b>Droit Admin </b><br>
            admin@deloitte.com <br>
            admin123@ <br>
            <b>Droit User</b><br>
            user1@deloitte.com <br>
            admin123@ <br>
            <b>
                <p class="py-2">
                    Je n'ai pas fait la traduction et la redirection pour le changement du mot de passe !
                </p>
            </b>
          </div>

        <form method="post" class="p-5 shadow w-50">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }} est connecté, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Veuillez-vous connecter !</h1>
            <label for="inputEmail" class="my-3">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword" class="my-3">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
                <div class="checkbox my-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>
</div>
{% endblock %}
